<p id="notice"><%= notice %></p>

<h1>Twits</h1>

<!-- <table border="1 black" style="width: 75%;"> -->
<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twits.each do |twit| %>
      <tr>
        <td><%= twit.message %></td>
        <td><%= link_to twit.user.username, show_user_path(id: twit.user_id) %></td>
        <td><%= link_to 'Show', twit %></td>
        <td><%= link_to 'Edit', edit_twit_path(twit) %></td>
        <td><%= link_to 'Destroy', twit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twit', new_twit_path %>
